<?php
$CONFIG = array (
  'instanceid' => 'ocoibzfigi8c',
  'passwordsalt' => 'JgpQVNgXzO4MapQnqYn47C7FGUmVSU',
  'secret' => 'CgnQBM2YsOahefJuRVqDnc6/9nXQAngqfgn.KYeJewZCoCOK',
  'trusted_domains' =>
  array (
    0 => '192.168.12.12',
    1 => 'ocusagecharts.box',
  ),
  'datadirectory' => '/home/www-data/data',
  'overwrite.cli.url' => 'http://ocusagecharts.box',
  'dbtype' => 'mysql',
  'version' => '7.0.5.2',
  'dbname' => 'owncloud',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'vagrant',
  'dbpassword' => 'vagrant',
  'installed' => true,
  'theme' => '',
  'maintenance' => false,
);